## Deliverable 2. Create a Customer Travel Destinations Map.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [22]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Primo Tapia,MX,32.2200,-116.9172,62.22,71,42,6.26,scattered clouds
1,1,Kang,BW,-23.6752,22.7876,56.08,79,97,13.56,overcast clouds
2,2,Busselton,AU,-33.6500,115.3333,64.04,90,100,26.69,overcast clouds
3,3,Rikitea,PF,-23.1203,-134.9692,75.49,73,14,20.98,few clouds
4,4,Victoria,HK,22.2855,114.1577,83.97,67,74,3.00,broken clouds
...,...,...,...,...,...,...,...,...,...,...
742,742,George,ZA,-33.9630,22.4617,44.15,93,0,2.30,clear sky
743,743,Soyo,AO,-6.1349,12.3689,75.52,81,100,6.55,overcast clouds
744,744,Paola,IT,39.3599,16.0396,51.01,77,18,7.07,few clouds
745,745,Saint-Augustin,CA,51.2260,-58.6502,44.17,97,100,26.91,overcast clouds
746,746,Nishihara,JP,26.1842,127.7558,76.66,83,75,20.71,broken clouds

In [23]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input('What is the minimum temperature you would like for your trip?'))
max_temp=float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df=city_data_df.loc[(city_data_df['Max Temp']<=max_temp)&\
                                    (city_data_df['Max Temp']>=min_temp)].dropna()

In [27]:
# 4a. Determine if there are any empty rows.

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Rikitea,PF,75.49,few clouds,-23.1203,-134.9692,
4,Victoria,HK,83.97,broken clouds,22.2855,114.1577,
5,Hithadhoo,MV,81.59,overcast clouds,-0.6000,73.0833,
13,Pochutla,MX,76.82,overcast clouds,15.7432,-96.4661,
21,Butaritari,KI,83.62,overcast clouds,3.0707,172.7902,
24,Daman,IN,79.92,few clouds,20.4167,72.8500,
26,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,
29,Kapaa,US,82.38,light rain,22.0752,-159.3190,
30,Conceicao Do Araguaia,BR,75.16,overcast clouds,-8.2578,-49.2647,
33,San Blas,MX,78.51,clear sky,21.5167,-105.2667,

In [31]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Rikitea,PF,75.49,few clouds,-23.1203,-134.9692,People ThankYou
4,Victoria,HK,83.97,broken clouds,22.2855,114.1577,Mini Hotel Central
5,Hithadhoo,MV,81.59,overcast clouds,-0.6000,73.0833,Scoop Guest House
13,Pochutla,MX,76.82,overcast clouds,15.7432,-96.4661,Hotel Posada San Jose
21,Butaritari,KI,83.62,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
729,Pasir Gudang,MY,87.91,broken clouds,1.4584,103.8805,Swan Garden Hotel
731,Sadiqabad,PK,82.54,clear sky,28.3062,70.1307,MIDWAY HOTEL & RESTAURANT
738,Oum Hadjer,TD,80.82,few clouds,13.2954,19.6966,
743,Soyo,AO,75.52,overcast clouds,-6.1349,12.3689,Hotel Mpampa
746,Nishihara,JP,76.66,broken clouds,26.1842,127.7558,Minshuku Agaihama

In [39]:
# 8a. Create the output File (CSV)
output_data_file='../Vacation_Search/WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [64]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [65]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))